[Unit]
Description=Dockerized weather-proxy
After=docker.service
BindsTo=docker.service
 
[Service]
TimeoutStartSec=0
TimeoutStopSec=30
Restart=always
RestartSec=10
 
ExecStartPre=-/usr/local/bin/docker-compose -f /etc/weather-proxy/docker-compose.yml kill weather-proxy 
ExecStartPre=-/usr/local/bin/docker-compose -f /etc/weather-proxy/docker-compose.yml rm gopherwx 
ExecStartPre=-/usr/local/bin/docker-compose -f /etc/weather-proxy/docker-compose.yml pull gopherwx
 
ExecStart=/usr/local/bin/docker-compose -f /etc/weather-proxy/docker-compose.yml up --force-recreate
 
ExecStop=/usr/local/bin/docker-compose -f /etc/weather-proxy/docker-compose.yml stop gopherwx
 
[Install]
WantedBy=multi-user.target

